# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
_commit: {{ _commit }}
_src_path: {{ _src_path }}
author_email: {{ author_email }}
author_name: {{ author_name }}
include_example_routes: {{ include_example_routes }}
license: {{ license }}
package_name: {{ package_name }}
project_description: {{ project_description }}
project_name: {{ project_name }}
project_slug: {{ project_slug }}
python_version: '{{ python_version }}'
use_postgres: {{ use_postgres }}
use_redis: {{ use_redis }}
version: {{ version }}
