"""Entity package: {{entity_name}}."""

from .entity import {{entity_name}}
from .repository import {{entity_name}}Repository
from .table import {{entity_name}}Table

__all__ = ["{{entity_name}}", "{{entity_name}}Repository", "{{entity_name}}Table"]