apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.prod.yml -o k8s-out/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: postgres
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.prod.yml -o k8s-out/
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: postgres
    spec:
      containers:
        - args:
            - /bin/sh
            - -lc
            - /opt/entry/start-scripts/pg-start.sh
          command:
            - /opt/entry/start-scripts/universal-entrypoint.sh
          env:
            - name: APP_DB
              value: appdb
            - name: APP_DB_OWNER
              value: appowner
            - name: APP_DB_RO_USER
              value: backupuser
            - name: APP_DB_USER
              value: appuser
            - name: CERTS_TARGET_DIR
              value: /etc/postgresql/ssl
            - name: CONTAINER_USER_GID
              value: postgres
            - name: CONTAINER_USER_UID
              value: postgres
            - name: CREATE_ENV_VARS
              value: "true"
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
            - name: POSTGRES_INITDB_ARGS
              value: --auth-host=scram-sha-256 --data-checksums
            - name: SECRETS_SOURCE_DIR
              value: /run/secrets
            - name: SECRETS_TARGET_DIR
              value: /app/secrets
            - name: SKIP_USER_SWITCH
              value: "false"
            - name: TEMPORAL_DB
              value: temporal
            - name: TEMPORAL_DB_USER
              value: temporaluser
            - name: TEMPORAL_VIS_DB
              value: temporal_visibility
          image: app_data_postgres_image
          livenessProbe:
            exec:
              command:
                - pg_isready -U "appuser" -d "appdb" -h 127.0.0.1
            failureThreshold: 20
            periodSeconds: 5
            timeoutSeconds: 5
          name: api-template-postgres-prod
          ports:
            - containerPort: 5432
              protocol: TCP
          volumeMounts:
            - mountPath: /run/secrets
              name: postgres-password
              subPath: postgres-password
            - mountPath: /run/secrets
              name: postgres-app-owner-pw
              subPath: postgres-app-owner-pw
            - mountPath: /run/secrets
              name: postgres-app-user-pw
              subPath: postgres-app-user-pw
            - mountPath: /run/secrets
              name: postgres-app-ro-pw
              subPath: postgres-app-ro-pw
            - mountPath: /run/secrets
              name: postgres-temporal-pw
              subPath: postgres-temporal-pw
            - mountPath: /run/secrets/postgres-tls-cert
              name: postgres-tls-cert
              subPath: server.crt
            - mountPath: /run/secrets/postgres-tls-key
              name: postgres-tls-key
              subPath: server.key
            - mountPath: /opt/entry/init-scripts
              name: postgres-cm0
              readOnly: true
            - mountPath: /etc/localtime
              name: postgres-cm1
              readOnly: true
              subPath: localtime
            - mountPath: /var/lib/postgresql/data
              name: postgres-data
            - mountPath: /var/lib/postgresql/backups
              name: postgres-backups
            - mountPath: /etc/postgresql/postgresql.conf
              name: postgres-cm4
              readOnly: true
              subPath: postgresql.conf
            - mountPath: /etc/postgresql/pg_hba.conf
              name: postgres-cm5
              readOnly: true
              subPath: pg_hba.conf
      restartPolicy: Always
      volumes:
        - name: postgres-password
          secret:
            items:
              - key: postgres-password
                path: postgres-password
            secretName: postgres-password
        - name: postgres-app-owner-pw
          secret:
            items:
              - key: postgres-app-owner-pw
                path: postgres-app-owner-pw
            secretName: postgres-app-owner-pw
        - name: postgres-app-user-pw
          secret:
            items:
              - key: postgres-app-user-pw
                path: postgres-app-user-pw
            secretName: postgres-app-user-pw
        - name: postgres-app-ro-pw
          secret:
            items:
              - key: postgres-app-ro-pw
                path: postgres-app-ro-pw
            secretName: postgres-app-ro-pw
        - name: postgres-temporal-pw
          secret:
            items:
              - key: postgres-temporal-pw
                path: postgres-temporal-pw
            secretName: postgres-temporal-pw
        - name: postgres-tls-cert
          secret:
            defaultMode: 256
            items:
              - key: postgres-tls-cert
                path: server.crt
            secretName: postgres-tls-cert
        - name: postgres-tls-key
          secret:
            defaultMode: 256
            items:
              - key: postgres-tls-key
                path: server.key
            secretName: postgres-tls-key
        - configMap:
            name: postgres-cm0
          name: postgres-cm0
        - configMap:
            items:
              - key: localtime
                path: localtime
            name: postgres-cm1
          name: postgres-cm1
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-data
        - name: postgres-backups
          persistentVolumeClaim:
            claimName: postgres-backups
        - configMap:
            items:
              - key: postgresql.conf
                path: postgresql.conf
            name: postgres-cm4
          name: postgres-cm4
        - configMap:
            items:
              - key: pg_hba.conf
                path: pg_hba.conf
            name: postgres-cm5
          name: postgres-cm5
