apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.prod.yml -o k8s-out/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: redis
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: redis
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.prod.yml -o k8s-out/
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: redis
    spec:
      containers:
        - env:
            - name: REDIS_PASSWORD_FILE
              value: /run/secrets/redis-password
          image: app_data_redis_image
          name: api-template-redis-prod
          resources:
            limits:
              cpu: "1"
              memory: "536870912"
            requests:
              cpu: 250m
              memory: "134217728"
          volumeMounts:
            - mountPath: /run/secrets
              name: redis-password
              subPath: redis-password
            - mountPath: /data
              name: redis-data
            - mountPath: /var/lib/redis/backups
              name: redis-backups
            - mountPath: /etc/localtime
              name: redis-cm2
              readOnly: true
              subPath: localtime
      restartPolicy: Always
      volumes:
        - name: redis-password
          secret:
            items:
              - key: redis-password
                path: redis-password
            secretName: redis-password
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-data
        - name: redis-backups
          persistentVolumeClaim:
            claimName: redis-backups
        - configMap:
            items:
              - key: localtime
                path: localtime
            name: redis-cm2
          name: redis-cm2
