apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.prod.yml -o k8s-out/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: temporal
  name: temporal
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: temporal
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.prod.yml -o k8s-out/
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: temporal
    spec:
      containers:
        - command:
            - /opt/entry/scripts/entrypoint.sh
          env:
            - name: BIND_ON_IP
              value: 0.0.0.0
            - name: DB
              value: postgres12
            - name: DBNAME
              value: temporal
            - name: DB_PORT
              value: "5432"
            - name: NUM_HISTORY_SHARDS
              value: "64"
            - name: POSTGRES_DB
              value: temporal
            - name: POSTGRES_SEEDS
              value: postgres
            - name: POSTGRES_USER
              value: temporaluser
            - name: SERVICES
              value: history,matching,worker,frontend
            - name: SQL_CA
              value: /run/secrets/ca-bundle.crt
            - name: SQL_HOST_NAME
              value: postgres
            - name: SQL_HOST_VERIFICATION
              value: "true"
            - name: SQL_TLS_ENABLED
              value: "true"
            - name: VISIBILITY_DBNAME
              value: temporal_visibility
          image: my-temporal-server:1.29.0
          livenessProbe:
            exec:
              command:
                - grpc_health_probe
                - -addr=127.0.0.1:7233
                - -service=temporal.api.workflowservice.v1.WorkflowService
            failureThreshold: 30
            initialDelaySeconds: 15
            periodSeconds: 5
            timeoutSeconds: 3
          name: api-template-temporal-prod
          ports:
            - containerPort: 7233
              protocol: TCP
          resources:
            limits:
              cpu: "2"
              memory: "1073741824"
            requests:
              cpu: 500m
              memory: "268435456"
          volumeMounts:
            - mountPath: /run/secrets
              name: postgres-temporal-pw
              subPath: postgres-temporal-pw
            - mountPath: /run/secrets/postgres-server-ca
              name: postgres-server-ca
              subPath: ca-bundle.crt
            - mountPath: /etc/temporal/certs
              name: temporal-certs
            - mountPath: /etc/localtime
              name: temporal-cm1
              readOnly: true
              subPath: localtime
            - mountPath: /opt/entry/scripts
              name: temporal-cm2
              readOnly: true
      restartPolicy: Always
      volumes:
        - name: postgres-temporal-pw
          secret:
            items:
              - key: postgres-temporal-pw
                path: postgres-temporal-pw
            secretName: postgres-temporal-pw
        - name: postgres-server-ca
          secret:
            defaultMode: 256
            items:
              - key: postgres-server-ca
                path: ca-bundle.crt
            secretName: postgres-server-ca
        - name: temporal-certs
          persistentVolumeClaim:
            claimName: temporal-certs
        - configMap:
            items:
              - key: localtime
                path: localtime
            name: temporal-cm1
          name: temporal-cm1
        - configMap:
            name: temporal-cm2
          name: temporal-cm2
